/*Body*/
body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: normal;

}
/*Nav*/
nav {
  background-color: rgba(0,0,0);
  float: left;
  position: fixed;
  width: 100%;
}
/*text*/
h1 {
  font-size: 3em; /*48px*/
  line-height: 1.5em;
  font-weight: 800;
}

h2 {
  font-size: 1.75em; /*28px*/
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em; /* 24px*/
  line-height: 1.25em;
  font-style: italic;
    width: 70%;
}

figcaption {
  font-size: .9em;
  font-weight: 600;
}
/*Images*/
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

/*lists*/
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}
/*articles*/
article {
  padding-top: 100px;
}

/*Links*/
a {
  text-decoration: none;
  }
a:link { /* unvisited */
  color:#B8E2FF;
}
a:visited { /* visited */
  color:#F2979D;
}
a:hover { /* mouse over */
  color:#52BAFF;
}
a:active { /* selected */
  color:#0070BD;
}

/*class*/
.author {
  font-weight: 600;
}
.story-text,p {
  font-size: 1.15em; /*18px*/
  line-height: 1.25em;
  padding-bottom: 1.25em;
  width: 80%;
}
.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.container {
  margin: auto;
  width: 50%;
}
